{% extends "base.html" %}
{% block title %}Faktura {{ invoice.invoice_number }}{% endblock %}
{% block content %}
<h2 class="mb-4">Faktura č. {{ invoice.invoice_number }}</h2>

<table class="table">
  <tbody>
    <tr><th scope="row">Klient</th><td>{{ invoice.customer_name }}</td></tr>
    <tr><th scope="row">Adresa klienta</th><td>{{ invoice.customer_address }}</td></tr>
    <tr><th scope="row">Vystaveno</th><td>{{ invoice.date_issued }}</td></tr>
    <tr><th scope="row">Splatnost</th><td>{{ invoice.date_due }}</td></tr>
  </tbody>
</table>
<h2>Tagy</h2>
{% if invoice.tags %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">Jméno</th>
        <th scope="col">Barva</th>
        <th scope="col">Akce</th>
    </tr>
  </thead>
  <tbody>
    {% for tag in invoice.tags %}
    <tr>
      <th scope="row">{{tag.name}}</th>
      <td style="color: {{tag.color}};">{{tag.color}}</td>
    <td><a href="/invoices/{{invoice.id}}/tags/{{tag.id}}/remove">odebrat</a></td>
    </tr>
 
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if user_tags %}
<form action="/invoices/{{ invoice.id }}/tags" method="post" class="d-flex gap-2">
  <select name="tag_id" class="form-select" style="max-width: 250px;">
    {% for tag in user_tags %}
    <option value="{{ tag.id }}">{{ tag.name }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-outline-primary">Přiřadit tag</button>
</form>
{% else %}
<p>Nemáš zatím žádné tagy k přiřazení.</p>
{% endif %}

<h3 class="mt-4">Položky</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Název</th>
      <th scope="col">Množství</th>
      <th scope="col">Cena/ks</th>
      <th scope="col">Celkem</th>
      <th>akce </th>
    </tr>
  </thead>
  <tbody>
    {% for item in invoice.items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.unit_price }} Kč</td>
      <td>{{ (item.quantity * item.unit_price) }} Kč</td>
      <td><a href="/invoices/{{invoice.id}}/items/delete/{{item.id}}">smayat </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/invoices/{{ invoice.id }}/items/new" class="btn btn-primary">Přidat položku</a>
<a href="/invoices" class="btn btn-secondary">Zpět na seznam</a>
<a href="/invoices/{{invoice.id}}/pdf" class="btn btn-secondary">pdf export</a>
{% endblock %}